@font-face {
    font-family: 'aaaiight';
    font-style: normal;
    font-weight: normal;
    src: local('aaaiight'), url('aaaiight.woff') format('woff');
    }
    
    h1 {
        font-family: 'aaaiight';
    }